<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.graduation_project.mapper.ExcelDataMapper">

    <!-- 字段映射 -->
    <resultMap id="ResultMap" type="org.example.graduation_project.model.ExcelData">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="time" jdbcType="TIMESTAMP" property="time"/>
        <result column="role" jdbcType="VARCHAR" property="role"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="url_voice" jdbcType="VARCHAR" property="urlVoice"/>
    </resultMap>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO t_excelcontent_text (time, role, status, content, url_voice)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.time}, #{item.role}, #{item.status}, #{item.content}, #{item.urlVoice})
        </foreach>
    </insert>

</mapper>




